{% extends 'base.html.twig' %}

{% block title %}Library | Nos auteurs{% endblock %}

{% block body %}
    <h1 class="text-center">Gestionnaire des auteurs</h1>
    <div class="d-flex justify-content-between">
        <a href="{{ path('app.auteur.create') }}" type="button" class="btn btn-primary">Ajouter un auteur</a>
    </div>
    <div class="d-flex flex-wrap">
    {% for auteur in auteurs %}
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ auteur.nom }} {{ auteur.prenom }} </h5>
                <p class="text-muted"> ({{auteur.age}} ans) / {{auteur.pays}}</p>
                
                <div class="d-flex justify-content-between">
                    <a href="{{ path('app.auteur.update', {id: auteur.id }) }}" class="btn btn-warning">Modifier</a>
                    {% include 'auteur/_deleteform.html.twig' %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
